.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* timeline部分 */
/* background: #F0F0F0 url('../../img/dian2.png') repeat-x; */
/* .box {
  width: 100%;
  height: 768px; 
  background-image: url('https://fal.media/files/monkey/o7SiF9EGP9Ho6mGDan0or.png');
  background-size: cover; 
  background-position: center; 
} */

#dynamic-background {
  width: 100%;
  height: 50vh; /* 使用视口高度来填充整个屏幕 */
  background-size: cover;
  background-position: center;
  background-image: url('https://fal.media/files/monkey/o7SiF9EGP9Ho6mGDan0or.png');
  transition: background-image 10s ease-in-out; /* 平滑过渡效果 */
}

.event_year { width:60px;border-bottom:2px solid #DDD;text-align:center;float:left;margin-top:10px; }
.event_year li { height:40px;line-height:40px;background:#FFF;margin-bottom:1px;font-size:18px;color:#828282;cursor:pointer; }
.event_year li.current { width:61px;background:#0066ff url('../public/img/jian.png') 60px 0 no-repeat;color:#FFF;text-align:left;padding-left:9px; }
.event_list { width:850px;float:right;background:url('../public/img/dian3.png') 139px 0 repeat-y;margin:10px 0 20px 0; }
.event_list h3 { margin:0 0 10px 132px;font-size:24px;font-family:Georgia;color:#0066ff;padding-left:25px;background:url('../public/img/jian.png') 0 -45px no-repeat;height:38px;line-height:30px;font-style:italic; }
.event_list li { background:url('../public/img/jian.png') 136px -80px no-repeat; }
.event_list li span { width:127px;text-align:right;display:block;float:left;margin-top:10px; }
.event_list li p { width:680px;margin-left:24px;display:inline-block;padding-left:10px;background:url('../public/img/jian.png') -21px 0 no-repeat;line-height:25px;_float:left; }
.event_list li p span { width:650px;text-align:left;border-bottom:2px solid #DDD;padding:10px 15px;background:#FFF;margin:0; }

/* Picture部分 */
